POSTGRES_DB=name db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

DB_VENDOR=POSTGRES
DB_ADDR=postgres
DB_DATABASE=name db
DB_USER=user
DB_PASSWORD=password
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=admin password